@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string name = "Abdol jan";
}

<h2>Products</h2>
<h1>My name is @Html.Raw(name)</h1>